.App {
  background-color: #f1f1f1;
}

.App-header {
  background-color: #f1f1f1;
  width: 100%;
  height: 23px;
  padding: 10px;
  color: black;
  text-align: center;
  position: fixed;
  z-index: 2;
}

.App-header p {
  margin: 0;
  font-weight: lighter;
  font-size: 20px;
  font-weight: 300
}

.App-header p span {
  font-weight: 700;
}

.App-contents {
  position: absolute;
  width: 100%;
  top: 43px;
  overflow: hidden;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .Charge #text {
    width: 110px;
    margin-top: 12px;
    font-weight: 500;
  }

  .Apply h5 {
    font-weight: 300;
  }

  .Apply p {
    font-size: 15px;
    font-weight: 100;
  }
}

@supports (-ms-accelerator:true) {
  /* IE Edge 12+ CSS styles go here */
  .Charge #text {
    width: 110px;
    margin-top: 12px;
    font-weight: 500;
  }

  .Apply h5 {
    font-weight: 300;
  }

  .Apply p {
    font-size: 15px;
    font-weight: 100;
  }
}
